#search_list {
	position:absolute;
	top:100%;
	left:0;
	right:0;
	z-index:99;
	max-height:15em;
	overflow-y:scroll;
}

.search-item {
	transition:all 0.4s ease;
}

.search-item:hover {
	background:#c5c5c5 !important;
	cursor:pointer;
}

#search_parent {
	position:relative;
}
